html {
    font-size: 14px; /* ルート要素のフォントサイズを1rem=14pxと定義する */
}

.card {
    cursor: pointer;
    font-size: 10px;
}

.book_title { 

    /*線の種類（二重線）太さ 色*/
    border-bottom: double 5px #FFC778;

}

[v-cloak] {
    display: none;
}
